h1 {
  color:green;
  text-align:center;
  front size: 20px;
  front-family:Impact, fantasy;
  display:flex;
}

h2 {
   front size:10px;
   front-family:Impact, fantasy;
   display: flex;
}
 
#image-avocat {
    border radius:4px;
    }